body{
    background-image: linear-gradient(#6df173,#fa9696);
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.title{
    font-size: 4rem;
    color: #d43535;
}

#lower-case{
    background-color: #d43535;
    border-radius: 1.5rem;
    font-size: 2rem;
}

#upper-case{
    background-color: #d43535;
    border-radius: 1.5rem;
    font-size: 2rem;
}

#proper-case{
   background-color: #d43535;
    border-radius: 1.5rem;
    font-size: 2rem;
}

#sentence-case{
    background-color: #d43535;
    border-radius: 1.5rem;
    font-size: 2rem;
}
#text-area{
    margin: auto;
    height: 32rem;
    width: 80%;
    font-size: 2rem;
    background-image: -moz-linear-gradient(#fa9696, #6df173);
}